@model EmlakProjesi.Models.Konut

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="KonutId" />
                        <div class="form-group focused">
                            <label asp-for="IsyeriId" class="form-control-label"></label>
                            <select asp-for="IsyeriId" class="form-control form-control-alternative" asp-items="ViewBag.IsyeriId"></select>
                            <span asp-validation-for="IsyeriId" class="text-danger"></span>
                        </div>
                        <div class="form-group focused">
                            <label asp-for="MusteriId" class="form-control-label"></label>
                            <select asp-for="MusteriId" class="form-control form-control-alternative" asp-items="ViewBag.MusteriId"></select>
                            <span asp-validation-for="MusteriId" class="text-danger"></span>
                        </div>
                        <div class="form-group focused">
                            <label asp-for="EmlakTuru" class="form-control-label"></label>
                            <input asp-for="EmlakTuru" class="form-control form-control-alternative" />
                            <span asp-validation-for="EmlakTuru" class="text-danger"></span>
                        </div>
                        <div class="form-group focused">
                            <label asp-for="OdaSayisi" class="form-control-label"></label>
                            <input asp-for="OdaSayisi" class="form-control form-control-alternative" />
                            <span asp-validation-for="OdaSayisi" class="text-danger"></span>
                        </div>
                        <div class="form-group focused">
                            <label asp-for="KatNo" class="form-control-label"></label>
                            <input asp-for="KatNo" class="form-control form-control-alternative" />
                            <span asp-validation-for="KatNo" class="text-danger"></span>
                        </div>
                        <div class="form-group focused">
                            <label asp-for="IsinmaTuru" class="form-control-label"></label>
                            <input asp-for="IsinmaTuru" class="form-control form-control-alternative" />
                            <span asp-validation-for="IsinmaTuru" class="text-danger"></span>
                        </div>
                        <div class="form-group focused">
                            <label asp-for="SatisFiyati" class="form-control-label"></label>
                            <input asp-for="SatisFiyati" class="form-control form-control-alternative" />
                            <span asp-validation-for="SatisFiyati" class="text-danger"></span>
                        </div>
                        <div class="text-center focused">
                            <button class="btn btn-primary mt-4" type="submit">Kaydet</button>
                        </div>
                        <div>
                            <a asp-action="Index">Geri</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




